<p id="notice"><%= notice %></p>

<div class="box box-primary">
<div class="box-header with-border">
  <h3 class="box-title">Fornecedor - </h3>
  <div class="pull-right"><%= link_to 'Inclusao', new_fornecer_path, class: "btn btn-flat btn-primary" %></div>
</div>
<div class="box-body with-border">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Fornecedor</th>
      <th colspan="30">Comandos</th>
    </tr>
  </thead>
   <tbody>
    <% @fornecers.each do |fornecer| %>
      <tr>
        <td><%= fornecer.cod_fornecedor %></td>
        <td><%= fornecer.nome_fornecedor %></td>
        
        <td><%= link_to 'Show', fornecer, class: "btn btn-flat btn-info"  %>
        <%= link_to 'Edit', edit_fornecer_path(fornecer), class: "btn btn-flat btn-success"  %>
        <%= link_to 'Destroy', fornecer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat btn-danger" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>



